<template>
  <a-result
    :title="settings.beforeProblemTitle"
    :sub-title="settings.beforeProblemDescription"
  />
  <div class="text-center">
    <a-button type="primary" size="large" @click="$emit('next')">
      {{ settings.beforeProblemBtnText }}
    </a-button>
  </div>
</template>

<script setup>
defineProps({
  settings: { type: Object, default: () => ({}) },
})
defineEmits(['next'])
</script>
