<template>
  <a-result status="success" :title="settings.doneTitle" />
  <div class="text-center" v-html="md.render(settings.doneDescription)"></div>
</template>

<script setup>
import MarkdownIt from 'markdown-it'
const md = new MarkdownIt()

defineProps({
  settings: { type: Object, default: () => ({}) },
})
</script>
