<template>
  <div class="mx-auto max-w-2xl space-y-4 py-8">
    <h1>{{ settings.infoFeeTitle }}</h1>
    <h2>
      {{ settings.doneScore }}
      <span class="text-5xl">{{
        `${Math.round((correctAnswerCount / problemCount) * 100)}%`
      }}</span>
    </h2>
    <iframe
      class="h-[50vh] w-full"
      :src="
        isProduction
          ? settings.infoFeeFormUrl
          : 'https://docs.google.com/forms/d/e/1FAIpQLScebQE4lnrvd-HIpkX1lwaMk7k7ECQ1jH9r_E8tndQjE_CrOg/viewform'
      "
      frameborder="0"
      @load="loaded++"
    ></iframe>
    <div
      v-if="loaded > (isProduction ? settings.infoFeeFormPageCount : 1)"
      class="text-center"
    >
      <a-button type="primary" size="large" @click="onSubmit">
        {{ settings.infoFeeNextBtnText }}
      </a-button>
    </div>
  </div>
</template>

<script setup>
import { useMyFetch } from '@/apis'

const isProduction = import.meta.env.MODE === 'production'

const props = defineProps({
  correctAnswerCount: { type: Number, required: true },
  problemCount: { type: Number, required: true },
  code: { type: String, default: null },
  settings: { type: Object, default: () => ({}) },
  timeRecording: { type: Object, required: true },
})
const emit = defineEmits(['next'])

const STEP = {
  INTRODUCTION: 'INTRODUCTION',
  PRACTICE: 'PRACTICE',
  PROBLEM: 'PROBLEM',
  REST: 'REST',
  INFO_FEE: 'INFO_FEE',
  DONE: 'DONE',
}
const getTimeRecording = () => {
  const t = props.timeRecording
  const n = Math.round(Date.now() / 1000)
  return [
    t[STEP.INTRODUCTION].e - t[STEP.INTRODUCTION].s,
    t[STEP.PRACTICE].map((t) => t.e - t.s).join(';'),
    t[STEP.PROBLEM].map((t) => t.e - t.s).join(';'),
    t[STEP.REST].map((t) => t.e - t.s).join(';'),
    n - t[STEP.INFO_FEE].s,
  ].join(',')
}

const loaded = ref(0)
watch(loaded, (newLoaded) => {
  if (newLoaded > (isProduction ? props.settings.infoFeeFormPageCount : 1)) {
    window.scrollTo({ top: window.innerHeight, behavior: 'smooth' })
  }
})

const loading = ref(false)
const onSubmit = async () => {
  loading.value = true
  const { isFetching, error, data } = await useMyFetch('/user')
    .post({
      code: props.code,
      infoFeeDone: true,
      timeRecording: getTimeRecording(),
    })
    .json()
  emit('next')
  loading.value = false
}
</script>
