<template>
  <a-collapse v-model:activeKey="activeKey">
    <a-collapse-panel key="1" :header="settings.informationTitle">
      <div
        class="prose prose-sm max-w-none"
        v-html="md.render(settings.informationDescription)"
      />
    </a-collapse-panel>
  </a-collapse>
</template>

<script setup>
import MarkdownIt from 'markdown-it'
const md = new MarkdownIt()

defineProps({ settings: { type: Object, default: () => ({}) } })
defineEmits(['next'])

const activeKey = ref([])
</script>
