<template>
  <div class="mx-auto max-w-5xl space-y-4 py-10">
    <div
      class="prose prose-img:w-full max-w-none"
      v-html="
        md.render(
          [
            settings.introductionText1,
            settings.introductionText2,
            settings.introductionText3,
          ][step]
        )
      "
    />
    <div class="space-x-4 text-center">
      <a-button v-if="step > 0" @click="nextStep(step - 1)">
        {{ settings.introductionPrevBtnText }}
      </a-button>
      <a-button v-if="step < 2" @click="nextStep(step + 1)">
        {{ settings.introductionNextBtnText }}
      </a-button>
      <a-button v-if="step === 2" @click="$emit('next')">
        {{ settings.introductionDoneBtnText }}
      </a-button>
    </div>
  </div>
</template>

<script setup>
import MarkdownIt from 'markdown-it'
const md = new MarkdownIt()

defineProps({
  code: { type: String, default: null },
  settings: { type: Object, default: () => ({}) },
})
defineEmits(['next'])

const step = ref(0)

const nextStep = (newStep) => {
  window.scrollTo({ top: 0, behavior: 'smooth' })
  step.value = newStep
}
</script>
