<template>
  <div class="relative mx-auto max-w-5xl py-6">
    <Info :settings="settings" />
    <h1 class="mt-8 text-center">
      {{
        `${
          practice ? settings.practiceTitlePrefix : settings.problemTitlePrefix
        } ${currentNum + 1}／${totalNum}`
      }}
    </h1>
    <div
      class="prose-lg prose-td:p-1.5 prose-tr:border-b-0 prose-thead:border-b-0 relative w-full max-w-none"
    >
      <table>
        <thead>
          <tr>
            <th class="w-[30%]"></th>
            <th class="w-[35%] text-center">目標交易</th>
            <th class="w-[35%] text-center">參考交易</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-right opacity-75">地點</td>
            <td class="border text-center">{{ problem.h1.location }}</td>
            <td class="border text-center">{{ problem.h2.location }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">主要建材</td>
            <td class="border text-center">{{ problem.h1.material }}</td>
            <td class="border text-center">{{ problem.h2.material }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">房型</td>
            <td class="border text-center">{{ problem.h1.type }}</td>
            <td class="border text-center">{{ problem.h2.type }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">樓層／總樓層</td>
            <td class="border text-center">
              {{ problem.h1.floor.split('/')[0].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h1.floor.split('/')[1].trim() }}
            </td>
            <td class="border text-center">
              {{ problem.h2.floor.split('/')[0].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h2.floor.split('/')[1].trim() }}
            </td>
          </tr>
          <tr>
            <td class="text-right opacity-75">土地（坪）</td>
            <td class="border text-center">{{ problem.h1.landTrans }}</td>
            <td class="border text-center">{{ problem.h2.landTrans }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">
              建物（坪）<br />主建物／附屬建物／陽台／共用
            </td>
            <td class="border text-center">
              {{ problem.h1.buildingTrans }}<br />{{ problem.h1.mainBuilding
              }}<span class="opacity-50">／</span>{{ problem.h1.subBuilding
              }}<span class="opacity-50">／</span>{{ problem.h1.balcony
              }}<span class="opacity-50">／</span>{{ problem.h1.common }}
            </td>
            <td class="border text-center">
              {{ problem.h2.buildingTrans }}<br />{{ problem.h2.mainBuilding
              }}<span class="opacity-50">／</span>{{ problem.h2.subBuilding
              }}<span class="opacity-50">／</span>{{ problem.h2.balcony
              }}<span class="opacity-50">／</span>{{ problem.h2.common }}
            </td>
          </tr>
          <tr>
            <td class="text-right opacity-75">屋齡（年）</td>
            <td class="border text-center">{{ problem.h1.age }}</td>
            <td class="border text-center">{{ problem.h2.age }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">車位數</td>
            <td class="border text-center">{{ problem.h1.parking }}</td>
            <td class="border text-center">{{ problem.h2.parking }}</td>
          </tr>
          <tr>
            <td class="text-right opacity-75">隔間<br />房／廳／衛</td>
            <td class="border text-center">
              {{ problem.h1.partition ? '有' : '無' }}<br />{{
                problem.h1.structure.split('/')[0].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h1.structure.split('/')[1].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h1.structure.split('/')[2].trim() }}
            </td>
            <td class="border text-center">
              {{ problem.h2.partition ? '有' : '無' }}<br />{{
                problem.h2.structure.split('/')[0].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h2.structure.split('/')[1].trim()
              }}<span class="opacity-50">／</span
              >{{ problem.h2.structure.split('/')[2].trim() }}
            </td>
          </tr>
          <tr>
            <td class="text-right opacity-75">組織管理</td>
            <td class="border text-center">
              {{ problem.h1.org ? '有' : '無' }}
            </td>
            <td class="border text-center">
              {{ problem.h2.org ? '有' : '無' }}
            </td>
          </tr>
          <tr>
            <td class="!pt-8"></td>
            <td class="!pt-8 text-center font-bold" colspan="2">
              目標交易（左）＿＿＿ 參考交易（右）
            </td>
          </tr>
          <tr>
            <td class="!pb-4"></td>
            <td class="!pb-4 !pr-8 text-right">
              <a-button
                size="large"
                :type="higherAnswer === 'h1' ? 'primary' : 'default'"
                @click="onSetHigherAnswer('h1')"
                >{{ settings.problemQ1A1 }}</a-button
              >
            </td>
            <td class="!pb-4 !pl-8 text-left">
              <a-button
                size="large"
                :type="higherAnswer === 'h2' ? 'primary' : 'default'"
                @click="onSetHigherAnswer('h2')"
                >{{ settings.problemQ1A2 }}</a-button
              >
            </td>
          </tr>
          <tr :class="higherAnswer ? 'visible' : 'invisible'">
            <td class="!py-4"></td>
            <td colspan="2" class="!py-4 text-center">
              <div class="font-bold">{{ settings.problemQ2 }}</div>
              <div ref="q2Ref" class="mt-2">
                <a-radio-group
                  :value="confidenceLevel"
                  @change="(e) => onSetConfidenceLevel(e.target.value)"
                >
                  <a-radio v-for="i in 7" :key="i" :value="i">
                    {{ i }}
                  </a-radio>
                </a-radio-group>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      ref="doneRef"
      :class="higherAnswer && confidenceLevel ? 'visible' : 'invisible'"
    >
      <slot />
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  settings: { type: Object, default: () => ({}) },
  practice: { type: Boolean, default: false },
  currentNum: { type: Number, default: 1 },
  totalNum: { type: Number, default: 0 },
  problem: { type: Object, default: () => ({ h1: {}, h2: {} }) },
  higherAnswer: { type: String, default: null },
  confidenceLevel: { type: Number, default: null },
})

const emit = defineEmits(['setHigherAnswer', 'setConfidenceLevel'])

const q2Ref = ref(null)
const doneRef = ref(null)

const onSetHigherAnswer = (answer) => {
  emit('setHigherAnswer', answer)
  q2Ref.value.scrollIntoView({ behavior: 'smooth' })
}

const onSetConfidenceLevel = (level) => {
  emit('setConfidenceLevel', level)
  doneRef.value.scrollIntoView({ behavior: 'smooth' })
}
</script>
