<template>
  <div class="mx-auto max-w-3xl py-6 text-center">
    <h1>{{ settings.restTitle }}</h1>
    <p
      v-if="seconds > 0"
      class="prose max-w-none"
      v-html="md.render(settings.restDescription)"
    />
    <p
      v-else
      class="prose max-w-none"
      v-html="md.render(settings.restDoneDescription)"
    />
    <div class="text-7xl">
      {{
        `${Math.floor(seconds / 60)
          .toString()
          .padStart(2, '0')}:${(seconds % 60).toString().padStart(2, '0')}`
      }}
    </div>
    <a-button type="primary" class="mt-8" @click="$emit('next')">{{
      seconds > 0 ? settings.restNextBtnText : settings.restDoneNextBtnText
    }}</a-button>
  </div>
</template>

<script setup>
import MarkdownIt from 'markdown-it'
const md = new MarkdownIt()

const props = defineProps({ settings: { type: Object, default: () => ({}) } })
defineEmits(['next'])

const seconds = ref(props.settings.restMinute * 60)
const intervalId = setInterval(() => {
  if (seconds.value > 0) {
    seconds.value--
  } else {
    clearInterval(intervalId)
  }
}, 1000)
</script>
