// https://github.com/antfu/unplugin-vue-components/blob/main/src/core/resolvers/antdv.ts
@import 'ant-design-vue/dist/antd.less';
@import 'antdv.variables.less';

@tailwind base;
@tailwind components;
@tailwind utilities;

// antdv
@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}
