<template>
  <main class="lg:hidden">
    <a-result status="warning" :title="settings.screenWidthLT1024" />
  </main>
  <main class="hidden grow px-4 sm:px-6 lg:block">
    <template v-if="!isProduction">
      <a-button
        @click="
          () => {
            confidenceLevels = []
            higherAnswers = []
            timeRecording = defaultTimeRecording()
          }
        "
        >clear (only show at test server)</a-button
      >
      <pre>{{ timeRecording }}</pre>
    </template>
    <Introduction
      v-if="step === STEP.INTRODUCTION"
      :settings="settings"
      @next="nextStep(STEP.PRACTICE)"
    />
    <Problem
      v-else-if="step === STEP.PRACTICE"
      :settings="settings"
      practice
      :current-num="currentNumP"
      :total-num="practices.length"
      :problem="practices[currentNumP]"
      :higher-answer="higherAnswersP[currentNumP]"
      :confidence-level="confidenceLevelsP[currentNumP]"
      @set-higher-answer="onSetHigherAnswerP"
      @set-confidence-level="onSetConfidenceLevelP"
    >
      <div class="mt-8 grid grid-cols-2 gap-x-4">
        <div class="text-right">
          <a-button
            v-if="currentNumP < practices.length - 1"
            @click="onPracticeNextClick"
            >{{ settings.practiceNextBtnText }}</a-button
          >
        </div>
        <div>
          <a-button type="primary" @click="nextStep(STEP.BEFORE_PROBLEM)">{{
            settings.practiceEndBtnText
          }}</a-button>
        </div>
      </div>
    </Problem>
    <BeforeProblem
      v-else-if="step === STEP.BEFORE_PROBLEM"
      :settings="settings"
      @next="nextStep(STEP.PROBLEM)"
    />
    <Problem
      v-else-if="step === STEP.PROBLEM"
      :settings="settings"
      :current-num="currentNum"
      :total-num="problems.length"
      :problem="problems[currentNum]"
      :higher-answer="higherAnswers[currentNum]"
      :confidence-level="confidenceLevels[currentNum]"
      @set-higher-answer="onSetHigherAnswer"
      @set-confidence-level="onSetConfidenceLevel"
    >
      <div class="mt-8 text-center">
        <a-button :loading="loading" @click="onProblemNextClick">{{
          currentNum === problems.length - 1
            ? settings.problemEndBtnText
            : settings.problemNextBtnText
        }}</a-button>
      </div>
    </Problem>
    <div v-if="step === STEP.REST">
      <Rest
        :settings="settings"
        @next="
          () => {
            currentNum++
            step = STEP.PROBLEM
          }
        "
      />
    </div>
    <InfoFee
      v-if="step === STEP.INFO_FEE"
      :correct-answer-count="correctAnswerCount"
      :problem-count="problems.length"
      :code="code"
      :settings="settings"
      :time-recording="timeRecording"
      @next="step = STEP.DONE"
    />
    <Done v-if="step === STEP.DONE" :settings="settings" />
  </main>
</template>

<script setup>
import { useMyFetch } from '@/apis'
import MarkdownIt from 'markdown-it'
const md = new MarkdownIt()

const isProduction = import.meta.env.MODE === 'production'

const props = defineProps({
  user: { type: Object, default: null },
  settings: { type: Object, default: null },
})

const route = useRoute()
const { code } = route.query

const STEP = {
  INTRODUCTION: 'INTRODUCTION',
  PRACTICE: 'PRACTICE',
  BEFORE_PROBLEM: 'BEFORE_PROBLEM',
  PROBLEM: 'PROBLEM',
  REST: 'REST',
  INFO_FEE: 'INFO_FEE',
  DONE: 'DONE',
}

useTitle(computed(() => props.settings.expName))

const loading = ref(false)

const nextStep = (newStep) => {
  window.scrollTo({ top: 0, behavior: 'smooth' })
  step.value = newStep
}

const practices = computed(() =>
  props.settings ? props.settings.practices : []
)
const higherAnswersP = ref([])
const confidenceLevelsP = ref([])
const currentNumP = ref(confidenceLevelsP.value.length)
const onSetHigherAnswerP = (a) => {
  higherAnswersP.value[currentNumP.value] = a
}
const onSetConfidenceLevelP = (c) => {
  confidenceLevelsP.value[currentNumP.value] = c
}
const onPracticeNextClick = () => {
  if (currentNumP.value < practices.value.length - 1) {
    window.scrollTo({ top: 0, behavior: 'smooth' })
    currentNumP.value++
  }
}

const problems = computed(() => (props.user ? props.user.problems : []))
const higherAnswers = useStorage(`higherAnswers.${code}`, [])
const confidenceLevels = useStorage(`confidenceLevels.${code}`, [])
const currentNum = ref(
  Math.min(confidenceLevels.value.length, problems.value.length - 1)
)
const onSetHigherAnswer = (a) => {
  higherAnswers.value[currentNum.value] = a
}
const onSetConfidenceLevel = (c) => {
  confidenceLevels.value[currentNum.value] = c
}
const onProblemNextClick = async () => {
  window.scrollTo({ top: 0, behavior: 'smooth' })
  if (
    [
      Math.floor(problems.value.length / 3) - 1,
      Math.floor((problems.value.length * 2) / 3) - 1,
    ].includes(currentNum.value)
  ) {
    step.value = STEP.REST
  } else if (currentNum.value < problems.value.length - 1) {
    currentNum.value++
  } else {
    loading.value = true
    const { isFetching, error, data } = await useMyFetch('/user')
      .post({
        code,
        higherAnswers: higherAnswers.value,
        confidenceLevels: confidenceLevels.value,
      })
      .json()
    step.value = STEP.INFO_FEE
    loading.value = false
  }
}

const answers = computed(() =>
  higherAnswers.value.length > 0
    ? higherAnswers.value
    : props.user.higherAnswers
)
const correctAnswerCount = computed(() =>
  answers.value.reduce((prev, curr, idx) => {
    const problem = problems.value[idx]
    if (
      (problem.h1.groundTruth > problem.h2.groundTruth && curr === 'h1') ||
      (problem.h2.groundTruth > problem.h1.groundTruth && curr === 'h2')
    ) {
      return prev + 1
    }
    return prev
  }, 0)
)

const getStep = () => {
  if (props.user.infoFeeDone) {
    return STEP.DONE
  } else if (
    props.user.confidenceLevels.length > 0 &&
    props.user.higherAnswers.length > 0
  ) {
    return STEP.INFO_FEE
  } else if (higherAnswers.value.length > 0) {
    return STEP.PROBLEM
  } else {
    higherAnswers.value = []
    confidenceLevels.value = []
    return STEP.INTRODUCTION
  }
}
// const step = ref(STEP.PROBLEM)
const step = ref(getStep())

// time recording
const defaultTimeRecording = () => ({
  [STEP.INTRODUCTION]: { s: null, e: null },
  [STEP.PRACTICE]: [],
  [STEP.PROBLEM]: [],
  [STEP.REST]: [],
  [STEP.INFO_FEE]: { s: null, e: null },
})
const timeRecording = useStorage(
  `timeRecording.${code}`,
  defaultTimeRecording()
)
const now = () => Math.round(Date.now() / 1000)
const recordProblem = (currentNum) => {
  const n = now()
  if (currentNum === 0) {
    if (
      timeRecording.value[STEP.PRACTICE][
        timeRecording.value[STEP.PRACTICE].length - 1
      ] &&
      !timeRecording.value[STEP.PRACTICE][
        timeRecording.value[STEP.PRACTICE].length - 1
      ].e
    ) {
      timeRecording.value[STEP.PRACTICE][
        timeRecording.value[STEP.PRACTICE].length - 1
      ].e = n
    }
    if (!timeRecording.value[STEP.PROBLEM][0]) {
      timeRecording.value[STEP.PROBLEM] = [{ s: n, e: null }]
    }
  } else {
    if (!timeRecording.value[STEP.PROBLEM][currentNum - 1].e) {
      timeRecording.value[STEP.PROBLEM][currentNum - 1].e = n
    }
    if (!timeRecording.value[STEP.PROBLEM][currentNum]) {
      timeRecording.value[STEP.PROBLEM][currentNum] = { s: n, e: null }
    }
    // 第一次休息結束
    if (currentNum - 1 === Math.floor(problems.value.length / 3) - 1) {
      if (!timeRecording.value[STEP.REST][0]) {
        timeRecording.value[STEP.REST] = [{ s: n, e: n }]
      } else if (!timeRecording.value[STEP.REST][0].e) {
        timeRecording.value[STEP.REST][0].e = n
      }
    }
    // 第二次休息結束
    if (currentNum - 1 === Math.floor((problems.value.length * 2) / 3) - 1) {
      if (!timeRecording.value[STEP.REST][1]) {
        timeRecording.value[STEP.REST] = [{ s: n, e: n }]
      } else if (!timeRecording.value[STEP.REST][1].e) {
        timeRecording.value[STEP.REST][1].e = n
      }
    }
  }
}
watch(
  step,
  (newStep, oldStep) => {
    // console.log(newStep, oldStep)
    const n = now()
    if (newStep === STEP.INTRODUCTION) {
      timeRecording.value[STEP.INTRODUCTION] = { s: n, e: null }
    } else if (newStep === STEP.PRACTICE) {
      timeRecording.value[STEP.INTRODUCTION].e = n
      timeRecording.value[STEP.PRACTICE] = [{ s: n, e: null }]
    } else if (newStep === STEP.PROBLEM) {
      recordProblem(currentNum.value)
    } else if (newStep === STEP.REST) {
      timeRecording.value[STEP.PROBLEM][currentNum.value].e = n
      timeRecording.value[STEP.REST].push({ s: n, e: null })
    } else if (newStep === STEP.INFO_FEE) {
      if (!timeRecording.value[STEP.PROBLEM][currentNum.value].e) {
        timeRecording.value[STEP.PROBLEM][currentNum.value].e = n
      }
      timeRecording.value[STEP.INFO_FEE] = { s: n, e: null }
    }
  },
  { immediate: true }
)
watch(
  currentNumP,
  (newCurrentNumP, oldCurrentNumP) => {
    // console.log(newCurrentNumP, oldCurrentNumP)
    const n = now()
    if (oldCurrentNumP !== undefined) {
      timeRecording.value[STEP.PRACTICE][oldCurrentNumP].e = n
      timeRecording.value[STEP.PRACTICE].push({ s: n, e: null })
    }
  },
  { immediate: true }
)
watch(
  currentNum,
  (newCurrentNum, oldCurrentNum) => {
    // console.log(newCurrentNum, oldCurrentNum)
    recordProblem(newCurrentNum)
  },
  { immediate: true }
)
</script>
