<template>
  <div class="flex min-h-screen flex-col bg-gray-50">
    <header
      class="sticky top-0 z-10 bg-gray-800 px-2 py-5 text-center text-base text-gray-50 sm:px-6 lg:px-8"
    >
      {{ settings.expName }}
    </header>
    <main
      v-if="isFetching"
      class="flex w-full grow items-center justify-center"
    >
      <a-spin size="large" tip="Loading..." />
    </main>
    <main
      v-else-if="error"
      class="flex w-full grow items-center justify-center"
    >
      <a-result status="warning" title="Error">
        <template #extra>
          <pre v-if="data && data.error && data.error.message">{{
            data.error.message
          }}</pre>
          <pre v-else-if="data && data.error">{{ data.error }}</pre>
          <pre v-else>{{ data }}</pre>
        </template>
      </a-result>
    </main>
    <router-view v-else-if="data" :user="user" :settings="settings" />
    <footer class="py-4 text-center">
      <a :href="`mailto:${settings.contactEmail}`">
        {{ settings.contactText }}
      </a>
    </footer>
  </div>
</template>

<script setup>
import { useMyFetch } from '@/apis'

const route = useRoute()
const { code } = route.query

const { isFetching, error, data } = useMyFetch(`/user/${code}`).get().json()
const user = computed(() =>
  !isFetching.value && !error.value && data.value ? data.value.data.user : null
)
const settings = computed(() =>
  !isFetching.value && !error.value && data.value
    ? data.value.data.settings
    : {}
)
</script>
